/* Body */
body {
  background-color: #32ad32;
  margin: 0px;
  padding: 0px;
  height: calc(100vh - 400px);
  width: 100vw;
}

/* Container for finish line, snegle osv. (overflow) */
#wrapper {
  width: 90%;
  height: 100%;
  margin: 100px;
  position: relative;
}

/* Top af siden */
#top {
  width: 100%;
  height: 200px;
  background-image: url('../../grass2.jpg');
  background-repeat: repeat-x;
}

/* Snegl */
.snail {
  width: 100px;
  height: 100px;
  background-image: url('../../snail.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  transition: left 0.2s linear; /* Gør at sneglen bevæger sig flydende */
}

.snail-text {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 20px;
  color: white;
  z-index: 200;
}

/* Countdown */

#countdown {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  display: none;
}

/* Vigtig tekst */
.important-text {
  animation: important 1s infinite;
  color: red;
}

@keyframes important {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Info Containere */
.info-container {
  width: 225px;
  height: 125px;
  padding: 0 25px;
  border-radius: 7px;
  border: 3px solid black;
  background-color: white;
  position: absolute;
  top: 20px;
  display: flex;
}

.info-container h2 {
  font-size: 30px;
  margin: 10px 0 0 0;
  color: black;
  text-align: center;
}

.data-container {
  left: 20px;
  display: flex;
  flex-direction: column;
}

/* Settings Icon & Modal */
#settings {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  color: brown;
}

#settings i {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}

/* Settings Modal */

#settings-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  z-index: 1500;
  margin: 0;
}

#settings-modal h2 {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}

#settings-modal button {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: #f00;
  color: white;
  text-align: center;
  line-height: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border: none;
  opacity: 1;
  transition: opacity 0.3s;
}

#settings-modal button:hover {
  background-color: #fa4e4e;
}

#settings-modal button:disabled {
  opacity: 0;
}

#settings-modal input {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  margin: 10px 0;
}

#settings-modal input[type='number'] {
  width: 50px;
}

/* Ræser banen for snegle. (Overflow) */
#raceway {
  width: 90%;
  max-width: 900px;
  height: 280px;
  margin: 100px auto;
  position: relative;
  background-color: #32ad32;
}

/* Container til snegle */
.snegle-container {
  width: 160px;
  height: 103px;
  position: absolute;
  z-index: 100;
  background-repeat: no-repeat;
}

/* Start Knap */
.startknap {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: #f00;
  color: white;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border: none;
  opacity: 1;
  transition: opacity 0.3s;
}

.startknap:hover {
  background-color: #fa4e4e;
}

.startknap:disabled {
  opacity: 0;
}

/* Finish Line */
.finish {
  width: 100px;
  height: 100%;
  border-left: 2px dotted White;
  position: absolute;
  top: 0px;
  left: calc(90% - 40px);
  z-index: 50;
}

/* Media query for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .snail {
    width: 50px;
    height: 50px;
  }

  .snegle-container {
    width: 80px;
    height: 51.5px;
  }

  .startknap {
    width: 50px;
    height: 15px;
    line-height: 15px;
    top: 30px;
  }

  .finish {
    width: 80px;
    height: 140px;
    left: calc(90% - 80px);
  }
}

/* Media query for screens smaller than 900px */
@media only screen and (max-width: 900px) {
  .snail {
    width: 75px;
    height: 75px;
  }

  .snegle-container {
    width: 120px;
    height: 77.25px;
  }

  .startknap {
    width: 75px;
    height: 22.5px;
    line-height: 22.5px;
    top: 45px;
  }

  .finish {
    width: 120px;
    height: 210px;
    left: calc(90% - 120px);
  }
}
